<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= device-width, initial-scale=1">
    <title>Mercado liebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
        <img id="logo" src='/img/logo-mercado-liebre.svg' alt= "Logo de la pag">
        
        <div class="barra">
            <input id="barrab" type="search" placeholder='Buscar productos, marcas'>
            <a href="#">
                <div class="lupa">
                <i class="fas fa-search"></i>
                </div>
            </a>
        </div>            
        
        <h4 id= "cuotas"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</h4>
        <div class="secciones">
           <ul type=none id="secc" >
                <a href="#"><li>Ofertas</li></a>
                <a href="#"><li>Tiendas oficiales</li></a>
                <a href="#"><li>Vender</li></a>
                <a href="#"><li>Ayuda</li></a>
            </ul>
            <ul type=none id="login">
                <a href="/register"><li>Creá tu cuenta </a><i class="far fa-id-card"></i></li>
                <a href="/login"><li>Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                <a href="#"><li>Mis compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul> 
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
 
    <main>
        <a href="#">
            <img id="banner" src="/img/img-home-banner.jpg" alt="banner">
        </a>
        <section>
            <h4 class="titulares">Basado en tu última visita</h4>
            <article class="articulo">
                <img src='/img/img-cafetera-moulinex.jpg' alt= "Imagen de cafetera Moulinex">
                <div class= "descripcion">
                    <div class="truck"><i class="fas fa-truck"></i></div>
                    <h6 class="precios">$6.770</h6>
                    <h6 class="descuentos">40% OFF</h6>
                    <h6 class="descripciones">Cafetera Moulinex</h6>
                </div>
            </article>
            <article class="articulo">
                <img src='/img/img-macbook-pro-2019.jpg' alt= "Imagen de cafetera Moulinex">
                <div class= "descripcion">
                    <div class="truck"><i class="fas fa-truck"></i></div>
                    <h6 class="precios">$230.000</h6>
                    <h6 class="descuentos">20% off</h6>
                    <h6 class="descripciones">MacBook Pro 2019</h6>
                </div>

            </article>
            <article class="articulo">
                <img src='/img/img-samsung-galaxy-s10.jpg' alt= "Imagen de cafetera Moulinex">
                <div class= "descripcion">
                    <div class="truck"><i class="fas fa-truck"></i></div>
                    <h6 class="precios">$70.500</h6>
                    <h6 class="descuentos">10% OFF</h6>
                    <h6 class="descripciones">Samsung Galaxy S10</h6>
                </div>
            </article>
            <article class="articulo">
                <img src='/img/img-tv-samsung-smart.jpg' alt= "Imagen de cafetera Moulinex">
                <div class= "descripcion">
                    <div class="truck"><i class="fas fa-truck"></i></div>
                    <h6 class="precios">$23.200</h6>
                    <h6 class="descuentos">5% OFF</h6>
                    <h6 class="descripciones">SmartTv Samsung 43"</h6>                    
                </div>

        </section>
        <section >
            <h4 class="titulares">Ofertas</h4>
            <article class="articulo">
                <img src='/img/img-cafetera-moulinex.jpg' alt= "Imagen de cafetera Moulinex">
                <div class= "descripcion">
                    <div class="truck"><i class="fas fa-truck"></i></div>
                    <h6 class="precios">$6.770</h6>
                    <h6 class="descuentos">40% OFF</h6>
                    <h6 class="descripciones">Cafetera Moulinex</h6>
                </div>
            </article>
            <article class="articulo">
                <img src='/img/img-macbook-pro-2019.jpg' alt= "Imagen de cafetera Moulinex">
                <div class= "descripcion">
                    <div class="truck"><i class="fas fa-truck"></i></div>
                    <h6 class="precios">$230.000</h6>
                    <h6 class="descuentos">20% OFF</h6>
                    <h6 class="descripciones">MacBook Pro 2019</h6>
                </div>

            </article>
            <article class="articulo">
                <img src='/img/img-samsung-galaxy-s10.jpg' alt= "Imagen de cafetera Moulinex">
                <div class= "descripcion">
                    <div class="truck"><i class="fas fa-truck"></i></div>
                    <h6 class="precios">$70.500</h6>
                    <h6 class="descuentos">10% OFF</h6>
                    <h6 class="descripciones">Samsung Galaxy S10</h6>
                </div>
            </article>
            <article class="articulo">
                <img src='/img/img-tv-samsung-smart.jpg' alt= "Imagen de cafetera Moulinex">
                <div class= "descripcion">
                    <div class="truck"><i class="fas fa-truck"></i></div>
                    <h6 class="precios">$23.200</h6>
                    <h6 class="descuentos">5% OFF</h6>
                    <h6 class="descripciones">SmartTv Samsung 43"</h6>                    
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section class="footer">
            <div id="credit">
                <div class="credit">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h4 class="foot">Pagá con tarjeta o en efectivo</h4>
                <h6 class="foot">Con Mercado Liebre Cash, tienes cuotas sin 
                    intereses con tarjeta o efectivo en puntos
                     de pago. Y siempre es seguro!</h6>
            </div>
            <div id="gift">
                <div class="gift">
                    <i class="fas fa-gift"></i>
                </div>
                <h4 class="foot">Envio gratis desde $2.500</h4>
                <h6 class="foot">Solo por estar registrad@ en Mercado Liebre tienes 
                envios gratis en miles de productos. 
                Es un beneficio de Mercado Puntos.</h6>
            </div>
            <div id="seguridad">
                <div class="seguridad">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h4 class="foot">Seguridad de principio a fin</h4>
                <h6 class="foot">No te gusta? Duevuelvelo! En Mercado Liebre, no hay
                nada que no puedas hacer, porque estas diempre protegid@
                </h6>
            </div>
            <h6 id="sin">Copyright © 1999-2020 MercadoLiebre S.R.L</h4>
        </section>
    </footer> 
</body>
</html>