<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c7be41f1be.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <img id="logo" src='/img/logo-mercado-liebre.svg' alt= "Logo de la pag">
        
        <div class="barra">
            <input id="barrab" type="search" placeholder='Buscar productos, marcas'>
            <a href="#">
                <div class="lupa">
                <i class="fas fa-search"></i>
                </div>
            </a>
        </div>            
        
        <h4 id= "cuotas"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</h4>
        <div class="secciones">
           <ul type=none id="secc" >
                <a href="#"><li>Ofertas</li></a>
                <a href="#"><li>Tiendas oficiales</li></a>
                <a href="#"><li>Vender</li></a>
                <a href="#"><li>Ayuda</li></a>
            </ul>
            <ul type=none id="login">
                <a href="/register"><li>Creá tu cuenta </a><i class="far fa-id-card"></i></li>
                <a href="/login"><li>Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                <a href="#"><li>Mis compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul> 
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <div class="form-title">    
        <h2>Registro de Usuario</h2>
    </div>
    <form action="/views/home.html" method="POST" class="register-form">
        <div class="control-form">
            <label for="nombre">Nombre y Apellido:</label>
            <input type="text" name="nombre" class="control" required>
        </div>

        <div class="control-form">
            <label for="usuario">Nombre de Usuario:</label>
            <input type="text" name="usuario" class="control" required minlength="6">
        </div>

        <div class="control-form">
            <label for="fecha-nacimiento">Fecha de Nacimiento:</label>
            <input type="date" name="fecha-nacimiento" class="control" required>
        </div>

        <div class="control-form">
            <label for="domicilio">Domicilio:</label>
            <textarea name="domicilio" cols="30" rows="2" required></textarea>
        </div>

        <div class="control-form">
            <label for="perfil-usuario">Perfil de usuario:</label>
            <select name="perfil-usuario" class="control">
                <option value="vender">Vender productos</option>
                <option value="comprar">Comprar productos</option>
            </select>
        </div>

        <div class="control-form">
            <label for="categorias">Categorias de interes:</label>
            <input type="checkbox" name="categorias" value="electro"> Electro
            <input type="checkbox" name="categorias" value="moda"> Moda
            <input type="checkbox" name="categorias" value="hogar"> Hogar
            <input type="checkbox" name="categorias" value="jugueteria"> Jugueteria
            <input type="checkbox" name="categorias" value="vida-sana"> Vida sana
        </div>

        <div class="control-form">
            <label for="foto-usuario">Foto de usuario:</label>
            <select name="foto-usuario" class="control">
                <input type="file" required>
            </select>
        </div>

        <div class="control-form">
            <label for="password">Contrasenia:</label>
                <input type="password" name="password" required minlength="8">
        </div>

        <div class="control-form">
            <label for="password">Confirmar contrasenia:</label>
                <input type="password" name="password" required minlength="8">
        </div>

        <button type="reset" class="button-form">Borrar</button>
        <button type="submit" class="button-form">Guardar</button>
    </form>
</body>
</html>
